body{
	padding: 0;
	margin: 0;
	background-color: #eae4b9;
	box-sizing: border-box;
}
header{
	background: linear-gradient(0deg, #bfe3eb, #4a6fa5);
	border-bottom: 1px solid #8f8f8f;
	box-shadow: 0px 3px 12px 5px #000000;
	z-index: 2;
}
header::after{
	content: '';
	display: table;
	clear: both;
}
nav{
	position: sticky;
	text-align: centre;

}
.logo{
	float: left;
	height: 65px;
	width: 65px;
}
nav {
	float: right;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
nav li {
	display: inline-block;
	margin: 0 35px;
	padding-top: 23px;
}

nav a {
	text-decoration: none;
	text-transform: capitalise;
	font-size: 18px;
	
}
nav a:hover{
	color: #000;
}

.descT{
	width: 600px;
	float: left;
	padding-left: 250px;
	padding-top: 50px;
}
.descB{
	float: left;
	width: 600px;
	padding-top: 130px;
	white-space:pre-line;
}
.slideContainer{
	position: absolute;
	margin-left:560px;
	margin-top: 5px;
	z-index: 0;
}
.slide > img{
	border: 3px solid #000000;
}


.caption{
	position: fixed;
	bottom: 65px;
	padding: 5px 5px 5px 5px;
	color: white;
	right: 0px;
	font-size:24px;
	width: 30%;
	background-color: rgba(0,0,0,0.4);
	z-index: 1;
}

.centreform{
	border: 3px solid #ffffff;
	text-align:center;
	display: inline-block;
	position: absolute;
	left: 30%;
	right:30%;
}


